<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yuan.yc_flutter_dynamic">

    <application>
        <activity
            android:name="com.yuan.yc_flutter_dynamic.view.FlutterContainerActivity"
            android:process=":flutter" />
    </application>
</manifest>
